<div class="nra-runner-indicator" data-actor-id="{{actorId}}">
  <img src="{{actorImg}}" width="24" height="24" class="nra-runner-avatar" title="{{actorName}}" />
  <span class="nra-runner-name">{{actorName}}</span>
</div>
